version: No.{build}

image:
  - Visual Studio 2013
  - Visual Studio 2015
  - Visual Studio 2017

shallow_clone: true

platform:
  - x86
  - x64

install:
  - ps: Invoke-WebRequest "https://github.com/tboox/xmake/releases/download/v2.1.2/xmake-v2.1.2.exe" -OutFile "xmake-installer.exe"
  - cmd: dir
  - cmd: xmake-installer.exe /S /D=C:\xmake
  - cmd: dir C:\xmake
  - cmd: C:\xmake\xmake.exe --version

build_script:
  - cmd: if %platform%==Win64 C:\xmake\xmake.exe f -a x64
  - cmd: C:\xmake\xmake.exe -v

test_script:
  - copy /Y test\test.py build
  - cd build
  - dir
  - python test.py add
  - python test.py sub
  - python test.py mul
  - python test.py div
  - python test.py mod
