version: No.{build}

image:
  - Visual Studio 2013
  - Visual Studio 2015
  - Visual Studio 2017

shallow_clone: true

platform:
  - x64
  - x86

install:
  - ps: Invoke-WebRequest "https://github.com/tboox/xmake/releases/download/v2.1.2/xmake-v2.1.2.exe" -OutFile "xmake-installer.exe"
  - cmd: dir
  - cmd: xmake-installer.exe /S /D=C:\xmake
  - cmd: dir C:\xmake
  - cmd: C:\xmake\xmake.exe --version

build_script:
  - cmd: if %platform%==x64 C:\xmake\xmake.exe f -a x64
  - cmd: C:\xmake\xmake.exe -v

test_script:
  - cmd: copy /Y test\test.py build
  - cmd: dir build
  - ps: $jadd = Start-Job -ScriptBlock {python test.py add} -InitializationScript {cd C:\projects\libbg\build}
  - ps: $jsub = Start-Job -ScriptBlock {python test.py sub} -InitializationScript {cd C:\projects\libbg\build}
  - ps: $jmul = Start-Job -ScriptBlock {python test.py mul} -InitializationScript {cd C:\projects\libbg\build}
  - ps: $jdiv = Start-Job -ScriptBlock {python test.py div} -InitializationScript {cd C:\projects\libbg\build}
  - ps: $jmod = Start-Job -ScriptBlock {python test.py mod} -InitializationScript {cd C:\projects\libbg\build}
  - ps: Receive-Job -Job $jadd,$jsub,$jmul,$jdiv,$jmod -Wait -Force -AutoRemoveJob
