language: cpp

sudo: false

os:
  - linux
  - osx

dist: trusty

compiler:
  - gcc
  - clang

before_script:
  - git clone --depth=1 https://github.com/tboox/xmake.git
  - cd xmake
  - make build -j
  - make install prefix=~/local
  - export PATH=$PATH:~/local/bin
  - cd ..

script:
  - xmake -v
  - cp test/test.py build
  - cd build
  - ./test.py add
  - ./test.py sub
  - ./test.py mul
  - ./test.py div
  - ./test.py mod
  - cd ..
